ul, ol {
	padding: 0px;
	margin: 15px;
}

/* Flash and error messages */
#flash-messages ul, #error-messages ul { padding: 0; margin: 0; }
#flash-messages li, #error-messages li { list-style: none; padding: 5px; }
#error-messages .alert {
	padding: 5px;
}

/* Fix for Bootstrap's fixed bottom navbar */
body { padding-bottom: 70px; }

form .ng-messages { color: red; }
form .ng-dirty.ng-invalid { border-color: red; }
form .ng-dirty.ng-valid { border-color: green; }

/*
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:10px;
}
*/
