ul, ol {
	padding: 0px;
	margin: 15px;
}

/* Flash and error messages */
#flash-messages ul, #error-messages ul { padding: 0; margin: 0; }
#flash-messages li, #error-messages li { list-style: none; padding: 5px; }
#error-messages .alert {
	padding: 5px;
}

/* Fix for Bootstrap's fixed bottom navbar */
body { padding-bottom: 70px; }

form .ng-messages { color: red; }
form .ng-dirty.ng-invalid { border-color: red; }
form .ng-dirty.ng-valid { border-color: green; }

ul.dish-list li.list-group-item {
	margin-bottom: 10px;
}

/* Animations - Flash messages */
.flash .ng-enter {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.flash .ng-leave {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -ms-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

/* Animations - Any ng-repeat with .animate class */
.animate.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
.animate.ng-leave {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -ms-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}
