<form class="form-horizontal">
    <!-- Name -->
    <div class="form-group">
        <label for="name" class="col-sm-offset-2 col-sm-3 control-label">Name</label>
        <div class="col-sm-3">
            <input type="text"
				   name="name"
				   id="name"
				   placeholder="Name"
				   class="form-control"
				   ng-model="dish.name"
				   value="">
        </div>
    </div>
    <div class="form-group">
        <label for="calories" class="col-sm-offset-2 col-sm-3 control-label">Calories</label>
        <div class="col-sm-3">
            <input type="text"
				   name="calories"
				   id="calories"
				   placeholder="Calories"
				   class="form-control"
				   ng-model="dish.calories"
				   value="{{ old('first_name') }}">
        </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <!-- Update mode: Off -->
            <button type="submit" ng-show="updateMode === false" ng-click="saveDish()" class="btn btn-default">Add</button>

            <!-- Update mode: On -->
            <button type="submit" ng-show="updateMode === true" ng-click="updateDish()" class="btn btn-default">Update</button>
            <button type="submit" ng-show="updateMode === true" ng-click="setUpdateMode(false)" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>

<ul class="dish-list item-list list-group col-sm-offset-4 col-sm-4">
    <li class="list-group-item" ng-repeat="dish in dishes | filter:query">
        {{ dish.name }} <span ng-if="dish.calories > 0">({{ dish.calories }} kcal)</span>
        <button ng-click="removeDish($index)" type="button" class="close glyphicon glyphicon-trash" aria-label="Close" aria-hidden="true"></button>
        <button ng-click="setUpdateMode(true, $index)" type="button" class="close glyphicon glyphicon-pencil" aria-label="Close" aria-hidden="true"></button>
    </li>
    <li class="list-group-item" ng-hide="dishes.length">No dishes found.</li>
</ul>
